Red Hat OpenShift/denysprokopiukcom/src/main/webapp/persons.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://mavenproject4.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mavenproject4.mycompany.com/">
    <xs:complexType name="persons">
        <xs:sequence>
            <xs:element name="persons" type="tns:person" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="person">
        <xs:sequence>
            <xs:element name="age" type="xs:int"></xs:element>
            <xs:element name="department" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>